body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
  color: #333;
  font-size: .8333333333rem;
  line-height: 1.4;
  margin: .75vh auto 0 auto;
  width: clamp(796px, 85%, 1200px);
  padding: 0;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:focus {
  outline: 2px solid #007bff;
  outline-offset: 2px;
}


header {
  background-color: #ff6600;
  font-size: .8333333333rem;
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .125rem;
  margin: 0 auto;
}

header>a {
  display: block;
  width: 18px;
}

.header-logo {
  width: 18px;
  height: 18px;
  border: 1px solid white;
  display: block;
}

header>nav {
  line-height: 12pt;
  height: .625rem;
  display: flex;
  align-items: center;
  gap: .35em;
  margin-right: auto;
}

header nav a {
  color: black;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  display: inline-block;
}

header nav .hnname {
  font-weight: bold;
  margin-right: .4em;
  margin-left: .5em;
}

.header-login {
  padding-right: .25em;
}

.header-login .login-link {
  color: black;
  font-size: 0.8rem;
  display: inline-block;
}


.content-spacer {
  height: 10px;
}


main {
  background-color: #f6f6ef;
  padding: 10px 0;
}

ol {
  padding: 0;
  margin: 0;
}


main ol li {
  padding: 10px 10px;
  margin-bottom: 5px;
  align-items: flex-start;
  margin-left: 30px;
}

.job-item .news-item-content {
  margin-left: 14px;
}


ol li::marker {
  text-align: right;
  display: block;
  flex-shrink: 0;
  font-size: 1rem;
  color: #828282;
  margin-top: 3px;
}

.vote-links {
  width: 20px;
  flex-shrink: 0;
  margin-right: 5px;
  text-align: center;
  margin-top: -2px;
}

.vote-arrow {
  width: 10px;
  height: 10px;
  background: url('grayarrow.gif') no-repeat;
  margin: 0 auto;
  cursor: pointer;
}

.news-item-content {
  flex-grow: 1;
  min-width: 0;
}

.news-title {
  line-height: 1.3;
  margin-bottom: 5px;
}

.story-link {
  font-weight: bold;
  color: #000;
  font-size: 1rem;
}

.site-bit {
  color: #828282;
  font-size: 0.8rem;
}

.site-str {
  color: #828282;
}


.news-subtext {
  line-height: 1.4;
  color: #828282;
  font-size: 0.7rem;
}

.news-subtext a {
  color: #828282;
}

.score {
  margin-right: 5px;
}



.indent-spacer {
  width: 14px;
  flex-shrink: 0;
}